<div class="form-group">
    <label for="title">Title</label>
    <input id="title" class="form-control" type="text" name="title" required>
    <label for="description">Description</label>
    <textarea id="description" class="form-control" type="text" name="description" rows="5" required></textarea>
    <label for="markdown">Markdown</label>
    <textarea id="markdown" class="form-control" type="text" name="markdown" rows="5" required></textarea>
    <a href="/" class="btn btn-secondary mt-4 px-5">Cancel</a>
    <button class="btn btn-primary mt-4 px-5" type="submit">Save</button>
</div>